@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Sarabun&display=swap');

#instructions-container {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 1s;
}

#instructions {
    padding-top: 5%;
    width: 50%;

    color: #ffffff;
    text-align: center;
    font-family: Sarabun, sans-serif;

    cursor: pointer;

    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#instructions p, ul {
    line-height: 1.4;
}

#instructions h1, h2 {
    font-family: 'Berkshire Swash', serif;
}

#instructions h1 {
    font-size: 64px;
    margin-bottom: 0;
}